name: build
on:
  push:
  pull_request:

jobs:
  run-other-tox-env:
    strategy:
      matrix:
        toxenv: [mypy, lint, lint_imports]
        py: ["3.14"]

    runs-on: ubuntu-latest
    name: "Run '${{ matrix.toxenv }}' on Python ${{ matrix.py }}"
    steps:
      - uses: actions/checkout@v6

      - name: get date for caching
        run: /bin/date -u "+%U" > cachedate.txt
        shell: bash

      - uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.py }}"
          cache: "pip"
          cache-dependency-path: |
            .github/workflows/build.yaml
            pyproject.toml
            tox.ini
            cachedate.txt

      - run: python -m pip install tox

      - run: python -m tox run -e "${{ matrix.toxenv }}"

  ci-test-matrix:
    strategy:
      matrix:
        os:
          - name: Linux
            runner: ubuntu-latest
          - name: Windows
            runner: windows-latest
          - name: macOS
            runner: macos-latest
        py: ['3.10', '3.11', '3.12', '3.13', '3.14']
        factor:
          - name: base
            tox_command: 'run -e py'
          - name: tox v3
            tox_command: 'run -e py-tox3'
          - name: tox v4
            tox_command: 'run -e py-tox4'

    name: "Test (${{ matrix.factor.name }}) ${{ matrix.os.name }} x Python ${{ matrix.py }}"
    runs-on: ${{ matrix.os.runner }}
    steps:
      - uses: actions/checkout@v6

      - name: get date for caching
        run: /bin/date -u "+%U" > cachedate.txt
        shell: bash

      - uses: actions/setup-python@v6
        id: setup-python
        with:
          python-version: ${{ matrix.py }}
          allow-prereleases: true
          cache: "pip"
          cache-dependency-path: |
            .github/workflows/build.yaml
            pyproject.toml
            tox.ini
            cachedate.txt

      - run: python -m pip install tox

      - name: cache tox virtualenvs
        uses: actions/cache@v5
        with:
          path: .tox
          key: >
            tox
            os=${{ runner.os }}
            python=${{ steps.setup-python.outputs.python-version }}
            hash=${{ hashFiles('.github/workflows/build.yaml', 'pyproject.toml', 'tox.ini', 'cachedate.txt') }}

      - name: test
        run: python -m tox ${{ matrix.factor.tox_command }}
